{% extends 'base.html' %}
{% block title_block %}
    {{ post.title }}
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-md-offset2">

                <div class="postTitle">
                    <h3>{{ post.title }}</h3>
                </div>

                <div class="postDate">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <small> {{ post.published_date|date:"M d, Y" }}</small>
                </div>

                <div class="postContent">
                    <p>{{ post.content|linebreaksbr }}</p>
                </div>


                <div class="postFooter">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <small> {{ post.tags }}</small>
                    <div class="postAuthor">
                        <p>posted by {{ post.author }} </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}